.creation-stage {
  width: 100vw;
}

.creation-stage-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.creation-stage-pokemon {
  width: 100%;
  position: relative;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
